header h1 {
	text-align: center;
}

#mapid {
	height: 700px;
	width: 1000px;
	margin: 0 auto 0 auto;
}

.wrapper {
    text-align: center;
}

.button {
    position: relative;
    left: -20.3%;
}

config.action_dispatch.default_headers = {
    'X-Frame-Options' => 'ALLOWALL'
}