.info { 
	padding: 8px 12px;
	font: 12px/18px Arial, Helvetica, sans-serif; 
	background: white;  
	box-shadow: 0 0 15px rgba(0,0,0,0.2); 
	border-radius: 5px; 
} 
.info h4 { 
	margin: 5px 0; 
	color: black; 
}
.legend { 
	text-align: left; 
	line-height: 16px; 
	color: #555; 
} 
.legend i { 
	width: 22px; 
	height: 16px; 
	float: left; 
	margin-right: 8px; 
	opacity: 1;
}
.legend .circle {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin-top: 8px;
}